.qmake.stash
Makefile
badminton
badminton.pro.user
ball.o
main.o
mainwindow.o
moc_mainwindow.cpp
moc_mainwindow.o
moc_mylabel.cpp
moc_mylabel.o
moc_predefs.h
mylabel.o
qrc_other.cpp
qrc_other.o
racket.o
ui_mainwindow.h
.git_temp/
cpn.ico
release/
